streamlit
yfinance
stocknews
pandas 
numpy
matplotlib
plotly
scikit-learn
ta
xgboost
pyngrok
streamlit_navigation_bar
hashlib
smtplib
email.mime.text import
email.mime.multipart 
os
uuid
csv, json
datetime 
